@import 'variables'

// Footer Styling
.footer
  .footer-top
    .footer-one
      padding: 3rem 5rem
      background-color: $color3
      color: #fff 
      text-align: center
      @media #{$medium}
        padding: 3rem 1rem
      h2 
        font-size: 3rem
        font-weight: 300
        @media #{$small}
          font-size: 2rem
      p 
        font-style: italic
    .footer-inner
      position: relative
      +bg(cover,center)
      .footer-two
        z-index: 3
        position: relative
        padding-top: 3rem
        margin: 0 auto 3rem
        width: 60%
        @media #{$xxlarge}
          width: 75%
        @media #{$xlarge}
          width: 95%
        .footer-links
          margin-bottom: 3rem
          +fb(center,space-between)
          flex-wrap: wrap
          a 
            color: $color2
            text-transform: uppercase
            letter-spacing: .15rem
            @media #{$medium}
              letter-spacing: 0
              width: 33.3%
              padding: .5rem
              text-align: center
        .footer-contact
          color: $color2
          +fb(center,space-between)
          flex-wrap: wrap
          @media #{$large}
            justify-content: center
          .contact-info
            width: 30%
          .contact-logo
            width: 40%
            text-align: center 
            @media #{$large}
              order: -1
              width: 100%
            img 
              margin-bottom: 2rem
              @media #{$small}
                width: 100%
            a 
              padding: .5rem
              color: $color2
              font-size: 1.5rem
          .contact-disclaimers
            padding-left: 6rem
            width: 30%
            text-align: right
            @media #{$large}
              padding-left: 0
      .footer-three
        z-index: 3
        position: relative
        padding: 1rem 5rem
        color: $color2
        text-align: center 
        border-top: 5px solid $color5
        p 
          margin: 0
          font-style: italic
  .jlb
    background-color: $color1
    color: white
    padding: 1rem
    p
      font-size: 0.6rem
      margin-bottom: 0
      text-align: center
    a
      color: white
      font-size: 0.6rem
