// Site Origin Override
.panel-grid.panel-no-style, .panel-grid .panel-row-style
  margin 0 auto
  width 100%
  max-width 70rem
.panel-grid .panel-row-style.siteorigin-panels-stretch
  max-width 100%

.sow-image-container
  +below(768px)
    margin-bottom 1rem
